/* Para que CSS se refleje en el html 'hay que llamarlo' */

html {
  font-family: "Open Sans Condensed", sans-serif;
  /* Google Fonts página para encontrar fuentes*/
}

h1 {
  color: lightyellow;
  text-decoration: underline overline lightyellow;
}
p,
li {
  color: lightyellow;
  font-size: 1.5 em;
}

body {
  background-color: seagreen;
}

#tortilla {
  border: left width 2px, right width 2px, top width 2px, bottom width 2px;
}
